<div class="row">
  <div class="col-md-12">
    <form (ngSubmit)='onSubmit()' [formGroup]="buildingContributerForm">
      <div class="form-group col-md-12">
        <label>{{'Building.Contributer'|translate}}</label>
        <ng-select formControlName="ContributerId" [(ngModel)]="buildingContributer.contributerId"
                   notFoundText="{{'NotFound'|translate}}" placeholder="{{'Select'|translate}}">
          <ng-option *ngFor="let contributer of contributers" [value]="contributer.id">{{contributer.nameAR}} - {{contributer.nameEN}}</ng-option>
        </ng-select>
        <div class="error-block" *ngIf="ContributerId.invalid && (submitted||ContributerId.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>

      <div class="form-group col-md-12">
        <label>{{'Building.Percentage'|translate}}</label>
        <input class="form-control" formControlName="Percentage" [(ngModel)]="buildingContributer.percentage" (keypress)="keyPressNumbersWithDecimal($event,buildingContributer.percentage)" />
        <div class="error-block" *ngIf="Percentage.invalid && (submitted||Percentage.touched)">
          <span *ngIf="Percentage.hasError('required')">
            {{'RequiredField'|translate}}
          </span>
          <span *ngIf="Percentage.hasError('max')">
            invalid
          </span>
        </div>
      </div>

      <div class="form-group col-md-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary">{{'Submit'|translate}}</button>
        <button type="button" (click)="resetFrom()" class="btn btn-outline-dark">{{'Reset'|translate}}</button>
        <button type="button" class="btn btn-outline-info" (click)="cancel()">{{'Cancel'|translate}}</button>
      </div>
    </form>
  </div>
</div>
