<div class="row">
  <div class="col-12">
    <form (ngSubmit)='onSubmit()' [formGroup]="accountForm">
      <div class="form-group col-md-12">
        <label>{{'Account.Code'|translate}}</label>
        <input type="text" class="form-control" formControlName="Code" [(ngModel)]="account.code">
        <div class="error-block" *ngIf="Code.invalid && (submitted||Code.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>

      <div class="form-group col-md-12">
        <label>{{'NameAR'|translate}}</label>
        <input type="text" class="form-control" formControlName="NameAR" [(ngModel)]="account.nameAR">
        <div class="error-block" *ngIf="NameAR.invalid && (submitted||NameAR.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>

      <div class="form-group col-md-12">
        <label>{{'NameEN'|translate}}</label>
        <input type="text" class="form-control" formControlName="NameEN" [(ngModel)]="account.nameEN">
        <div class="error-block" *ngIf="NameEN.invalid && (submitted||NameEN.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>

      <div class="form-group col-md-12">
        <label class="form-label">{{'Account.Parent'|translate}}</label>
        <ng-select formControlName="ParentId" [(ngModel)]="account.parentId" notFoundText="{{'NotFound'|translate}}" placeholder="{{'Select'|translate}}"
                   [readonly]="IsLevelOne">
          <ng-option *ngFor="let acc of accounts" [value]="acc.id">{{acc.code}} - {{acc.nameAR}} - {{acc.nameEN}}</ng-option>
        </ng-select>
        <div class="error-block" *ngIf="ParentId.invalid && (submitted||ParentId.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>


      <div class="form-group col-md-12">
        <label class="form-label">{{'Account.AccountType'|translate}}</label>
        <ng-select formControlName="AccountTypeId" [(ngModel)]="account.accountTypeId" notFoundText="{{'NotFound'|translate}}" placeholder="{{'Select'|translate}}"
                   [readonly]="HasChild">
          <ng-option *ngFor="let type of accountTypes" [value]="type.id">{{type.description|translate}}</ng-option>
        </ng-select>
        <div class="error-block" *ngIf="AccountTypeId.invalid && (submitted||AccountTypeId.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>

      <div class="form-group col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary">{{'Submit'|translate}}</button>
        <button type="button" class="btn btn-outline-info" (click)="cancel(false)">{{'Cancel'|translate}}</button>
      </div>
    </form>
  </div>
</div>




