<div class="row">
  <div class="col-12">
    <form (ngSubmit)='onSubmit()' [formGroup]="contractAdditionForm">
      <div class="form-group col-md-12">
        <label>{{'Contract.Type'|translate}}</label>
        <ng-select formControlName="ContractAdditionId" [(ngModel)]="contractAddition.contractAdditionId"
                   notFoundText="{{'NotFound'|translate}}" placeholder="{{'Select'|translate}}">
          <ng-option *ngFor="let addition of contractAdditions" [value]="addition.id">{{addition.nameAR}} - {{addition.nameEN}}</ng-option>
        </ng-select>
        <div class="error-block" *ngIf="ContractAdditionId.invalid && (submitted||ContractAdditionId.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>

      <div class="form-group col-md-12">
        <label>{{'Contract.TransAmount'|translate}}</label>
        <input class="form-control" formControlName="Amount" [(ngModel)]="contractAddition.amount" (keypress)="keyPressNumbersWithDecimal($event,contractAddition.amount)" />
        <div class="error-block" *ngIf="Amount.invalid && (submitted||Amount.touched)">
          {{'RequiredField'|translate}}
        </div>
      </div>

      <div class="form-group col-md-12">
        <label class="form-label">{{'Contract.DueDate'|translate}}</label>
        <div>
          <input type="text" class="form-control" formControlName="DueDate" [(ngModel)]="contractAddition.dueDate" bsDatepicker
                 [bsConfig]="{containerClass: 'theme-dark-blue',  dateInputFormat: 'YYYY-MM-DD',useUtc:false,initCurrentTime:true}">
          <div class="error-block" *ngIf="DueDate.invalid && (submitted||DueDate.touched)">
            {{'RequiredField'|translate}}
          </div>
        </div>
      </div>


      <div class="form-group col-md-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-primary ">{{'Submit'|translate}}</button>
        <button type="button" (click)="resetFrom()" class="btn btn-outline-dark">{{'Reset'|translate}}</button>
        <button type="button" class="btn btn-outline-info" (click)="cancel()">{{'Cancel'|translate}}</button>
      </div>
    </form>
  </div>
</div>
