<app-list title="{{'Expense.AddEditPageTitle'|translate}}" [hasPagination]=false [breadcrumbItems]="breadcrumbItems">
    <div body>
        <form (ngSubmit)='onSubmit()' [formGroup]="expenseForm" *ngIf="showForm">

            <div class="row">
                <div class="form-group col-lg-12">
                    <label class="form-label">{{'NameAR'|translate}}</label>
                    <div>
                        <input class="form-control" formControlName="NameAR" [(ngModel)]="expense.nameAR">
                        <div class="error-block" *ngIf="NameAR.invalid && (submitted||NameAR.touched)">
                            {{'RequiredField'|translate}}
                        </div>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label class="form-label">{{'NameEN'|translate}}</label>
                    <div>
                        <input class="form-control" formControlName="NameEN" [(ngModel)]="expense.nameEN">
                        <div class="error-block" *ngIf="NameEN.invalid && (submitted||NameEN.touched)">
                            {{'RequiredField'|translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-lg-12">
                <label class="form-label">{{'Expense.Account'|translate}}</label>
                <div>
                    <ng-select formControlName="AccountId" [(ngModel)]="expense.accountId" notFoundText="{{'NotFound'|translate}}" placeholder="{{'Select'|translate}}">
                        <ng-option *ngFor="let account of accounts" [value]="account.id">{{account.description}}</ng-option>
                    </ng-select>
                    <div class="error-block" *ngIf="AccountId.invalid && (submitted||AccountId.touched)">
                        {{'RequiredField'|translate}}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-2">
                <button type="submit" class="btn btn-outline-primary">{{'Submit'|translate}}</button>
                <button type="button" class="btn btn-outline-info" (click)="backToList()">{{'BackToList'|translate}}</button>
            </div>

        </form>
    </div>
</app-list>
