.page-header {
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.02);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  width: 100%;
}

.page-title {
  font-size: 20px;
  margin-bottom: 10px;
}

  .page-title + .breadcrumb {
    font-weight: bold !important;
    font-size: 0.9rem;
    padding-left: 0;
  }

.page-header .breadcrumb {
  padding: 0;
  margin: 0;
}

.breadcrumb-item:lang(ar) + .breadcrumb-item::before {
  float: right !important;
  padding-left: var(--bs-breadcrumb-item-padding-x);
  /* padding-right: unset;*/
}
