<app-list title="{{'Account.PageTitle'|translate}}" [hasPagination]=false [breadcrumbItems]="breadcrumbItems">
  <a actions class="nav-link" (click)="ShowAddModal()"><i class="bi bi-plus-circle-fill me-2 "></i>{{'AddNew'|translate}}</a>

  <div body>
    <app-grid-page>
      <tr tableHeader>
        <th>{{'Account.Code'|translate}}</th>
        <th>{{'NameAR'|translate}}</th>
        <th>{{'NameEN'|translate}}</th>
        <th>{{'Account.Level'|translate}}</th>
        <th>{{'Account.AccountType'|translate}}</th>
        <th>{{'Actions'|translate}}</th>
      </tr>
      <tr tableBody *ngFor="let account of accounts">
        <td>{{account.code}}</td>
        <td>{{account.nameAR}}</td>
        <td>{{account.nameEN}}</td>
        <td>{{account.level}}</td>
        <td>{{getAccountType(account.accountTypeId||0)|translate}}</td>
        <td>
          <div class="d-flex justify-content-end ">
            <button type="button" class="btn btn-primary" (click)="ShowEditModal(account)"><i class="bi bi-pencil-square"></i></button>
            <button *ngIf="!account.hasChildren&&account.parentId!=null" type="button" class="btn btn-danger" (click)="DeleteAccount(account.id)"><i class="bi bi-trash-fill"></i></button>
          </div>
        </td>
      </tr>
    </app-grid-page>

  </div>

  <div modal>
    <app-modal #modal modalHeader="{{'Account.ModalHeader'|translate}}">
      <app-account-details [account]="account" [accounts]="parentAccounts" (hideModalWithRefreshEvent)="HideModal($event)"></app-account-details>
    </app-modal>
  </div>
</app-list>



