<app-list title="{{'HomePage'|translate}}"
          [hasPagination]=false [breadcrumbItems]="breadcrumbItems">
    <div body>
        <div class="row">
            <div class="col-4">
                <app-building-count-by-construction-status></app-building-count-by-construction-status>
            </div>
            <div class="col-4">
                <app-building-count-by-building-type></app-building-count-by-building-type>
            </div>
            <div class="col-4">
                <app-building-count-by-city></app-building-count-by-city>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <app-rented-units-percentage></app-rented-units-percentage>
            </div>
            <div class="col-4">
                <app-unit-count-by-city></app-unit-count-by-city>
            </div>
            <div class="col-4">
                <app-renter-contract-count-by-state></app-renter-contract-count-by-state>
            </div>

        </div>
    </div>
</app-list>
