<app-list [pageNumber]="pageNumber" [totalItems]="totalItems" (pageChangedEvent)="GetDataByPage($event)" title="{{'CashBank.PageTitle'|translate}}"
          [hasPagination]=true [breadcrumbItems]="breadcrumbItems">

  <a actions class="nav-link" routerLink="/financials/cash-bank/add"><i class="bi bi-plus-circle-fill me-2 "></i>{{'AddNew'|translate}}</a>

  <div body>
    <app-grid-page>
      <tr tableHeader>
        <th>{{'CashBank.Name'|translate}}</th>
        <th>{{'CashBank.Type'|translate}}</th>
        <th>{{'Actions'|translate}}</th>
      </tr>
      <tr tableBody *ngFor="let cash of cashes">
        <td>{{cash.name}}</td>
        <td>{{GetType(cash.typeId||0)|translate}}</td>
        <td>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" routerLink="/financials/cash-bank/edit/{{cash.id}}"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill" (click)="DeleteCash(cash.id)"></i></button>
          </div>
        </td>
      </tr>
    </app-grid-page>
  </div>
</app-list>
