<app-list>
  <div class="row d-flex justify-content-center" body>
    <form (ngSubmit)="onSubmit()" [formGroup]="form" class="d-flex justify-content-center align-items-center form">
      <div class="row">
        <div class="input-group mb-3">
          <span class="input-group-text" id="pass"><i class="bi bi-key-fill"></i></span>
          <input type="password" class="form-control" placeholder="Current Password - كلمة المرور الحالية" aria-label="Password" aria-describedby="pass"
                 formControlName="CurrentPassword" [(ngModel)]="request.currentPassword">
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text" id="pass"><i class="bi bi-key-fill"></i></span>
          <input type="password" class="form-control" placeholder="New Password - كلمة المرور الجديدة" aria-label="Password" aria-describedby="pass"
                 formControlName="NewPassword" [(ngModel)]="request.newPassword">
        </div>

        <div class="d-flex justify-content-center mb-4 fw-bold error-block">
          <div>
            <div class="d-block mb-2" *ngFor="let error of errors">
              {{error}}
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary fw-bold"><span class="me-2">Change Password - تغير كلمة المرور</span> <i class="bi bi-box-arrow-in-right"></i></button>
          <button type="button" class="btn btn-outline-info" (click)="backToList()">{{'BackToList'|translate}}</button>
        </div>
      </div>
    </form>

  </div>
</app-list>

