<div class="row ">
  <div class="col-12">
    <div class="error-page">
      <h2 class="headline text-warning"> {{'404'|translate}}</h2>
      <div class="error-content">
        <h3><i class="fas fa-exclamation-triangle text-warning"></i> {{'PageNotFound'|translate}}</h3>
        <p>
          {{'Part1'|translate}}
          <a routerLink="/">{{'Link'|translate}}</a>
          {{'Part2'|translate}}
        </p>

        <form class="search-form" method="post">
          <div class="input-group">
            <input type="text" name="search" class="form-control shadow-none rounded-0">
            <div class="input-group-append">
              <button type="submit" name="submit" class="btn btn-warning shadow-none rounded-0">
                <i class="bi bi-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
