<app-list [pageNumber]="pageNumber" [totalItems]="totalItems" (pageChangedEvent)="GetDataByPage($event)" title="{{'Owner.PageTitle'|translate}}"
          [hasPagination]=true [breadcrumbItems]="breadcrumbItems">


  <a actions class="nav-link" (click)="ShowAddModal()"><i class="bi bi-plus-circle-fill me-2 "></i>{{'AddNew'|translate}}</a>


  <div body>
    <app-grid-page>
      <tr tableHeader>
        <th>{{'NameAR'|translate}}</th>
        <th>{{'NameEN'|translate}}</th>
        <th>{{'Actions'|translate}}</th>
      </tr>
      <tr tableBody *ngFor="let owner of owners">
        <td>{{owner.nameAR}}</td>
        <td>{{owner.nameEN}}</td>
        <td>
          <div class="d-flex justify-content-end ">
            <button type="button" class="btn btn-primary" (click)="ShowEditModal(owner)"><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger"><i class="bi bi-trash-fill" (click)="DeleteOwner(owner.id)"></i></button>
          </div>
        </td>
      </tr>
    </app-grid-page>

  </div>

  <div modal>
    <app-modal #modal modalHeader="{{'Owner.ModalHeader'|translate}}">
      <app-owner-add-update [owner]="owner" (hideModalWithRefreshEvent)="HideModal($event)"></app-owner-add-update>
    </app-modal>
  </div>

</app-list>
