@*@inject IStringLocalizer<Program> Localizer*@

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewData["Title"] - PropertyRenting.UI</title>
    <partial name="_Styles" />
    @await RenderSectionAsync("StyleSheets", required: false)
</head>
<body dir="@LayoutRes.Direction">

    <partial name="_Navbar" />

    <partial name="_SideBar" />

    <main class="mt-5 pt-3">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <partial name="_Scripts" />
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>